<!--Loading Spinner Section Begins-->
<style type="text/css">
    /** SPINNER CREATION **/
    .loader {
        position: relative;
        text-align: center;
        margin: 15px auto 35px auto;
        z-index: 9999;
        display: block;
        width: 80px;
        height: 80px;
        border: 10px solid rgba(0, 0, 0, .3);
        border-radius: 50%;
        border-top-color: #000;
        animation: spin 1s ease-in-out infinite;
        -webkit-animation: spin 1s ease-in-out infinite;
    }

    @@keyframes spin {
        to {
            -webkit-transform: rotate(360deg);
        }
    }

    @@-webkit-keyframes spin {
        to {
            -webkit-transform: rotate(360deg);
        }
    }
</style>
<script type="text/javascript">
    //Loading Spinner Javascript Code
    function showLoadingSpinner() {
        $("#loadMe").modal({
            backdrop: "static", //remove ability to close modal with click
            keyboard: false, //remove option to close with keyboard
            show: true //Display loader!
        });
    }

    function hideLoadingSpinner() {
        $("#loadMe").modal("hide");
    }

</script>

<!-- Spinner Loader Modal HTML -->
<div class="modal fade" id="loadMe" tabindex="-1" role="dialog" aria-labelledby="loadMeLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="loader"></div>
                <div clas="loader-txt">
                    <p>Please wait while processing your request...</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Loading Spinner Section Ends-->