USE [GenerationQA]
GO
/****** Object:  Table [dbo].[xEmailReminderRecipientsForNotification]    Script Date: 2/3/2020 1:55:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[xEmailReminderRecipientsForNotification](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SiteID] [varchar](10) NULL,
	[ReminderNo] [int] NULL,
	[ToRecipients] [varchar](max) NULL,
	[CCRecipients] [varchar](max) NULL,
	[RedgDateTime] [datetime] NULL DEFAULT (getdate()),
	[RType] [varchar](max) NULL,
	[Active] [bigint] NULL,
 CONSTRAINT [PK_xEmailReminderRecipientsForNotification] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[xEmailReminderRecipientsForNotification] ON 

INSERT [dbo].[xEmailReminderRecipientsForNotification] ([ID], [SiteID], [ReminderNo], [ToRecipients], [CCRecipients], [RedgDateTime], [RType], [Active]) VALUES (1, N'BQ1', 1, N'tahirmalikmuhammad@ke.com.pk', N'shahbaz.naser@ke.com.pk', CAST(N'2020-01-08 12:59:26.040' AS DateTime), N'TO', 1)
INSERT [dbo].[xEmailReminderRecipientsForNotification] ([ID], [SiteID], [ReminderNo], [ToRecipients], [CCRecipients], [RedgDateTime], [RType], [Active]) VALUES (2, N'BQ1', 1, N'arshad.farooqui@ke.com.pk', N'naseem.raza@ke.com.pk', CAST(N'2020-01-08 13:01:18.033' AS DateTime), N'TO', 1)
INSERT [dbo].[xEmailReminderRecipientsForNotification] ([ID], [SiteID], [ReminderNo], [ToRecipients], [CCRecipients], [RedgDateTime], [RType], [Active]) VALUES (3, N'BQ1', 1, N'shahbaz.naser@ke.com.pk', N'waqas.ansari@ke.com.pk', CAST(N'2020-01-08 13:02:21.210' AS DateTime), N'CC', 1)
SET IDENTITY_INSERT [dbo].[xEmailReminderRecipientsForNotification] OFF
ALTER TABLE [dbo].[xEmailReminderRecipientsForNotification]  WITH CHECK ADD FOREIGN KEY([SiteID])
REFERENCES [dbo].[SitesMaster] ([SiteId])
GO
